.sidebar {
    position: fixed;
    z-index: 10;
    top: 61px;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    border-right: 1px solid #eaecef;

    .sidebar-inner {
        width: 300px;
        padding: 35px 0px 60px 20px;

        .sidebar-link {
            color: #4f5959;
        }

        .sidebar-link.current {
            font-weight: 600;
            color: #42b983;
            border-bottom: 2px solid #fff;
        }

        .sidebar-link.active {
            font-weight: bold;
            color: #42b983;
        }

        .menu-root>li>.sidebar-link:hover {
            border-bottom: 2px solid #42b983;
        }
    }

    & ul {
        list-style-type: none;
        margin: 0;
        line-height: 2em;
        padding-left: 1em;
    }

    & li {
        margin-top: 0.5em;
    }

    & .menu-root {
        padding-left: 0;
    }
}

.icon-arrow-right-bold {
    display: inline-block;
    transition: 0.3s transform ease, 0.3s -webkit-transform ease;
}

.arrow-down {
    transform: rotate(90deg);
}
